// ?colors

$transparent: transparent;
$primary: #06163a;
$white: #fff;
$black: #000;
// $light: colorCode;
// $secondary: colorCode;
// $info: colorCode;
// $warning: colorCode;
// $cyan: colorCode;
// $danger: colorCode;
// $dark: colorCode;
