// ?colors

$transparent: transparent;
$primary: #06163a;
$white: #fff;
$black: #000;
$light: #edf5f8;
$secondary: #a0a0a0;
$hotpink: #e23562;
$orange: #ff5e11;
$info: #657bde;
$success: #45a53a;
$warning: #ffc501;
// $cyan: colorCode;
$danger: #fe311e;
// $dark: colorCode;
