@import './variables';
@import './mixins';

$theme-colors: (
  'transparent': $transparent,
  'primary': $primary,
  'black': $black,
  'white': $white,
);
@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/variables';

$grid-columns: 24;
$grid-gutter-width: 1.5rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);
@import '/node_modules/bootstrap/scss/bootstrap.scss';
